.search-bar {
    display: flex;
    align-items: center;
    background-color: #5A464C;
    width: 300px;
    border-radius: 20px;
    --padding-start: 15px;
    gap: 20px;
    color: #FFFF;
}

.search-icon {
    color: rgb(230, 96, 7);

}