.search-bar {
    display: flex;
    align-items: center;
    background-color: #5A464C;
    width: 100%;
    border-radius: 20px;
    color: #FFFF;
}

.search-bar-button {
    --padding-start: 10px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-below: 0px;
}

.search-icon {
    color: rgb(230, 96, 7);
}