.input-bar-container {
    width: 100%;
    padding: 10px 20px;
    background: #5A464C;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-bar-label {
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  
  .input-bar {
    mix-blend-mode: overlay;
    color: white;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 5px;
  }
  