/* input-bar.css */

.input-bar-container {
  width: 100%;
  --background: #5c4948; /* color marrón similar al de la imagen */
  border-radius: 10px; /* ajuste de borde redondeado */
  margin: 10px 0; /* margen para separación */
}

.input-bar {
  --padding-start: 5px; /* espacio interno al inicio */
  color: #fff; /* texto blanco */
  --placeholder-color: #d1b5b5; /* color de placeholder similar al de la imagen */
}

.ion-item {
  --inner-padding-end: 10px;
  --inner-padding-start: 10px;
  --inner-padding-top: 5px;
  --inner-padding-bottom: 5px;
}
