.recommendation-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    padding: 20px;
    background-color: #5A464C;
    color: #FF7020;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    text-align: center;
    width: 80%;
}
  
.arrow-down {
    font-size: 30px;
    color: #FF7020;
}