.edit-profile-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 120%;
  background: #FFEFBD;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.edit-profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-title {
  color: #F87666;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.edit-profile-photo {
  width: 100%;
  padding: 12px 95px;
  background: #5A464C;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.edit-profile-photo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.edit-profile-photo-text {
  color: #FAA455;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.input-editbar {
  width: 100%;
  height: 17%;
  background: #5A464C;
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-editbar-label {
  color: #F87666;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: left;
}

.input-editbar-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-editbar-value {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.input-editbar-divider {
  width: 100%;
  height: 1px;
  background-color: #F87666;
}

.edit-profile-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-confirm-button {
  padding: 10px 20px;
  background-color: #F87666;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-confirm-button:hover {
  background-color: #FAA455;
}
