.header-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: #5A464C;
    padding: 5px 10px;
    justify-content: space-between;
}

.search-button {
    color: #FFFF;
    border: 2px white solid;
    padding: 5px 5px;
    border-radius: 9999px;
}