.publication-reported-container {
    width: 95%;
    max-width: 400px;
    background: #5A464C;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
  }
  
  .container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    color: white;
    flex-direction: column;
  }
  
  .header-divider {
    border: none;
    height: 2px;
    background-color: #D96C06;
    width: 100%;
    margin-top: 5px;
  }
  
  .container-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .images-container {
    display: flex;
    gap: 5px;
  }
  
  .publication-image {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .view-more-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    color: white;
  }
  
  .view-more-button .ion-icon {
    margin-right: 5px;
  }
  