.profile-presentation {
    display: flex;
    flex-direction: column;
    background-color: #583F3A;
    color: #FFFF;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 10px;
}

.profile-photo {
    height: 60%;
    width: 60%;
}

.user-name {
    display: block;
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}